@charset "UTF-8";

h1{
	color:red;    /* color를 property*/
}
p{
	color: #0000ff;
}

#idcss{
	font-size: 150%;
	background-color: yellow;
	color: green; 	
}

.classcss{
	background-color: red;
	border: 1px solid;
}

#header > h1{
	color: green;
}